<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>QSSSHPlugin</string>
	<key>CFBundleIdentifier</key>
	<string>net.boinkor.qs.sshplugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SSH Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>44</string>
	<key>NSPrincipalClass</key>
	<string>QSSSHPlugin</string>
	<key>QSActions</key>
	<dict>
		<key>QSSSHOpenAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSSSHActionProvider</string>
			<key>actionSelector</key>
			<string>openConnection:</string>
			<key>commandFormat</key>
			<string>Open SSH Connection to %@</string>
			<key>directTypes</key>
			<array>
				<string>QSSSHHostIDType</string>
			</array>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>name</key>
			<string>SSH To</string>
			<key>rankModification</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Andreas Fuchs</string>
		<key>categories</key>
		<array>
			<string>Internet</string>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Access known and configured SSH hosts</string>
		<key>icon</key>
		<string>com.apple.Terminal</string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles</key>
		<array>
			<string>com.apple.Terminal</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<dict>
		<key>0</key>
		<dict>
			<key>ID</key>
			<string>QSPresetSSHHosts</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetSSHHostsUserKnownHosts</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>com.apple.Terminal</string>
					<key>name</key>
					<string>User known_hosts</string>
					<key>requiresSettingsPath</key>
					<true/>
					<key>settings</key>
					<dict>
						<key>parser</key>
						<string>QSSSHKnownHostsParser</string>
						<key>path</key>
						<string>~/.ssh/known_hosts</string>
						<key>skipItem</key>
						<true/>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetSSHHostsSystemKnownHosts</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>com.apple.Terminal</string>
					<key>name</key>
					<string>System-wide ssh_known_hosts</string>
					<key>requiresSettingsPath</key>
					<true/>
					<key>settings</key>
					<dict>
						<key>parser</key>
						<string>QSSSHKnownHostsParser</string>
						<key>path</key>
						<string>/etc/ssh_known_hosts</string>
						<key>skipItem</key>
						<true/>
					</dict>
					<key>source</key>
					<string>QSFileSystemObjectSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>name</key>
			<string>SSH Hosts</string>
			<key>requiresBundle</key>
			<string>com.apple.Terminal</string>
			<key>requiresSettingsPath</key>
			<true/>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.Terminal</key>
			<string>QSSSHPlugin</string>
		</dict>
		<key>QSFSParsers</key>
		<dict>
			<key>QSSSHKnownHostsParser</key>
			<string>QSSSHKnownHostsParser</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSSSHHostIDType</key>
			<string>QSSSHPlugin</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.apple.Terminal</string>
				<key>name</key>
				<string>Terminal</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
